<ion-content>

  <ion-grid class="fullHeight">

    <ion-row>
      <ion-title>
        <h3>Mes expériences</h3>
      </ion-title>
    </ion-row>

    <ion-row class="fullHeight">

      <ion-col class="main-content">
        <ion-row>
          <!-- @for (exp of experiences|async; track exp.uuid ) { -->

          <!-- MOCK -->
          @for (exp of experiences|async; track $index ) {

          <ion-card [routerLink]="['/experiences', exp.uuid]">
            <ion-card-header>
              <ion-card-title>
                {{exp.header.title}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{exp.uuid}}
            </ion-card-content>
          </ion-card>

          }
        </ion-row>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>