<ion-content>

  @let skill = skillDetails();

  @if (skill) {

  <ion-grid class="fullHeight">

    <!-- MAIN TITLE -->
    <ion-row>
      <ion-title>
        <h3>{{skill.title}}</h3>
      </ion-title>
    </ion-row>


    <!-- MAIN CONTENT -->
    <ion-row class="fullHeight">
      <ion-col class="main-content">

        <!-- BOX SHADOW -->
        <ion-row class="box-shadow">
          <ion-col>

            <ion-item lines="none">
              <ion-input label="Description" label-placement="floating" [readonly]="true"
                value="{{skill.description}}"></ion-input>
              <ion-chip color="secondary">{{categoryLabel}}</ion-chip>
            </ion-item>


            <div class="exp-group">
              <ion-item lines="none">
                <ion-text color="secondary">Expériences</ion-text>
              </ion-item>

              <ion-row>
                @for (exp of skill.experiencesID; track $index) {
                <ion-card>
                  <ion-card-header>
                    <ion-text color="secondary">{{exp}} test test title</ion-text>
                  </ion-card-header>
                  <ion-card-content>{{exp}}</ion-card-content>
                </ion-card>
                }
              </ion-row>
            </div>


          </ion-col>

        </ion-row>

      </ion-col>
    </ion-row>

  </ion-grid>
  }

</ion-content>