.zone {
    // background-color: rgb(187, 228, 253);
    padding: 1em 3em 1em 2em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--ion-color-medium);
}

.star-textarea {
    border-radius: 8px;
}

// segment-content
ion-segment-view {
  height: 150px;
}

ion-segment-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-segment-content:nth-of-type(1) {
  background: lightpink;
}
ion-segment-content:nth-of-type(2) {
  background: lightblue;
}
ion-segment-content:nth-of-type(3) {
  background: lightgreen;
}