<ion-content>

  <ion-grid class="fullHeight">

    <!-- MAIN TITLE -->
    <ion-row>
      <ion-title>
        <h3>Ajouter une nouvelle compétence</h3>
      </ion-title>
    </ion-row>

    <!-- MAIN CONTENT -->
    <ion-row class="fullHeight">
      <ion-col class="main-content">

        <!-- BOX SHADOW -->
        <ion-row class="box-shadow">
          <ion-col>

            <!-- SKILL FORM -->
            <div [formGroup]="skillForm">

              <!-- HEADER -->
              <div>
                <ion-item>
                  <ion-input label="Titre" label-placement="floating" formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Description" label-placement="floating" formControlName="description"></ion-input>
                </ion-item>

                <!-- CATEGORY RADIO -->
                <ion-row>
                  <ion-item lines="none">Catégory</ion-item>

                  <ion-radio-group formControlName="category">
                    <ion-row>
                      @for (category of categories; track category.id) {
                      <ion-item lines="none">
                        <ion-radio [value]="category.id" color="secondary" labelPlacement="end" justify="start">{{category.label}}</ion-radio>
                      </ion-item>
                      }
                    </ion-row>
                  </ion-radio-group>

                </ion-row>

              </div>

              <!-- EXPERIENCE CHECKBOX -->
              <div class="exp-checkbox-group">
                <ion-item lines="none">
                  <ion-text color="secondary">Expériences</ion-text>
                  <ion-icon id="hover-trigger" color="secondary" name="information-circle-outline"
                    slot="end"></ion-icon>
                  <ion-popover trigger="hover-trigger" triggerAction="hover" side="left">
                    <ng-template>
                      <ion-content class="ion-padding">Sélectionnez les expériences qui vous ont permis de développer
                        cette compétence.</ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-item>

                <ion-grid class="checkbox-grid">
                  @for (exp of experiences|async; track exp.uuid) {

                  <!-- MOCK : à remplacer $index par exp.uuid, aussi dans le checkbox -->
                  <!-- @for (exp of experiences|async; track $index ) { -->
                   
                  <ion-item lines="none">
                    <ion-checkbox color="secondary" labelPlacement="end"
                      [checked]="skillForm.controls.experiencesID.value?.includes(exp.uuid)"
                      (ionChange)="onCheckboxChange(exp.uuid, $event.detail.checked)">
                      {{exp.header.title}}
                    </ion-checkbox>
                  </ion-item>
                  }

                </ion-grid>
              </div>

              <!-- ADD BUTTON -->
              <ion-row class="ion-justify-content-end">
                <ion-button (click)="handleAddSkill()">Ajouter</ion-button>
              </ion-row>

            </div>

          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>