<ion-content>

  <ion-grid class="fullHeight">

    <!-- MAIN TITLE -->
    <ion-row>
      <ion-title>
        <h3>Ajouter une nouvelle compétence</h3>
      </ion-title>
    </ion-row>

    <!-- MAIN CONTENT -->
    <ion-row class="fullHeight">
      <ion-col class="main-content">

        <!-- BOX SHADOW -->
        <ion-row class="box-shadow">
          <ion-col>

            <!-- SKILL FORM -->
            <div [formGroup]="skillForm">

              <!-- HEADER -->
              <div>
                <ion-item>
                  <ion-input label="Titre" label-placement="floating" formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Catégorie" label-placement="floating" formControlName="category"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Description" label-placement="floating" formControlName="description"></ion-input>
                </ion-item>
              </div>

              <ion-row>
                <!-- @for (exp of experiences|async; track exp.uuid ) { -->

                <!-- MOCK : à remplacer $index par exp.uuid, aussi dans le checkbox -->
                @for (exp of experiences|async; track $index ) {

                <ion-list>
                  <ion-item>
                    <ion-checkbox labelPlacement="end"
                      [checked]="skillForm.controls.experiencesID.value?.includes($index)"
                      (ionChange)="onCheckboxChange($index, $event.detail.checked)">
                      {{exp.header.title}}
                    </ion-checkbox>
                  </ion-item>
                </ion-list>
                }

              </ion-row>

              <!-- ADD BUTTON -->
              <ion-row class="ion-justify-content-end">
                <ion-button (click)="handleAddSkill()">Ajouter</ion-button>
              </ion-row>

            </div>

          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>